@keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translateX(-10em);
    }

    80% {
        opacity: 0.5;
        transform: translateX(2em);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        transform: translateX(10em);
    }

    80% {
        transform: translateX(-2em);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes fadeInBottom {
    0% {
        opacity: 0;
        transform: translateY(8em);
    }

    80% {
        opacity: 0.5;
        transform: translateY(-2em);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}