* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    scroll-behavior: smooth;
    height: 100%;
    border: 2px solid rgba(215, 250, 149, 1);
    font: 400 15px/1.8 Lato, "sans-serif";
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    font-weight: 400;
    font-stretch: normal;
    font-size: 15px;
    line-height: 1.8;
    font-family: Noto sans-serif, sans-serif;
    color: #fff;
}

#intro {
    /* width: 100%; */

    /* height: 100%; */

    background: url('/assets/images/blend-small.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Navbar Section */

.navbar {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: auto;
    border-bottom: #b8c8d1 solid 1.5px;
    padding: 10px;
    position: fixed;
    top: 0;
}

.navbar .author {
    display: flex;
    justify-content: start;
}

.navbar .author h3 {
    font-size: 30px;
    margin: 0px 20px;
    padding: 5px;
}

.navbar .main {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.main li {
    margin: 0px 20px;
    padding: 5px;
    font-weight: 600;
    list-style: none;
}

a {
    text-decoration: none;
    font-size: 100%;
}


/* Header Section */

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    padding: 80px 50px;
}

.header #heading {
    margin-top: 60px;
    font-size: 2rem;
    align-self: center;
}

h1 {
    border: #fff solid 2px;
    margin: 10px;
    padding: 10px;
    background: #1a1919;
}

.header .info {
    width: 70%;
    /* border: #fff solid 1px; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin: 50px auto;
}

/* Contact Form */

form#contact {
    display: flex;
    flex-direction: column;
    margin: 10px 0px;
    padding: 10px;
    border: 1px solid #fff;
    box-sizing: border-box;
    width: 500px;
}

#contact label[for="location"],
#contact label[for="email-address"],
#contact label[for="phone"] {
    display: flex;
}

#contact label[for="location"] i,
#contact label[for="email-address"] i,
#contact label[for="phone"] i {
    width: 40px;
    margin-right: 10px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#contact label[for="location"] address,
#contact label[for="email-address"] span,
#contact label[for="phone"] span {
    padding: 10px 2px;
}

#contact label[for="location"] i,
#contact label[for="email-address"] i,
#contact label[for="phone"] i,
#contact label[for="location"] address,
#contact label[for="email-address"] span,
#contact label[for="phone"] span {
    /* border: #ec2e2e solid 1px; */
    margin-bottom: 5px;
}

#contact .email-submit {
    display: flex;
}

#contact .email-submit label {
    width: 40px;
    margin-right: 10px;
    padding: 10px;
    /* border: #ec2e2e solid 1px; */
}

#contact .email-submit input[type="email"] {
    padding: 10px 2px;
    width: 70%;
    margin-right: 2px;
    border: none;
    /* border: #ec2e2e solid 1px; */
}

#contact .email-submit #submit {
    padding: 10px;
    border: none;
    /* border: #d4ce7b solid 1px; */
}

/* inputs , buttons */
button,
input {
    font-family: inherit;
    font-size: 100%;
}

input:focus {
    border: 1px solid #0684fa;
    outline: none;
}

.profile {
    display: flex;
    justify-content: center;
    margin: 10px 0px;
    padding: 10px;
    /* border: 1px solid #fff; */
}

.profile img {
    border-radius: 20px;
}

.resume {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0px;
    padding: 10px;
    /* border: 1px solid #fff; */
}

.resume a {
    color: #fff;
    padding: 5px;
    border: #b8c8d1 solid 1px;
    background: transparent;
}

.resume a i {
    margin: 5px;
}

.resume a i,
.resume a span {
    padding: 5px;
}

.content a {
    text-decoration: none;
}

/* Social Media Section */
.connect {
    width: 70%;
    border: #fff solid 1px;
    display: grid;
    grid-template-columns: 20% 80%;
    align-items: center;
    margin: 50px auto 80px;
}

.connect h2,
.connect .social {
    margin: 10px 5px;
    padding: 5px;
}

.connect .social {
    display: flex;
    justify-content: space-evenly;
}

.social a {
    color: #fff;
}

/* Scroll Down Section */
.scroll {
    width: 50px;
    align-self: center;
}

.scroll a {
    display: flex;
    justify-content: center;
    margin: 50px auto;
    text-decoration: none;
    color: #f5c5c5;
}

/* About Me Section */
#about {
    margin: auto;
    background: #2c2a2a;
    padding: 80px 50px;
}

.aboutme {
    width: 70%;
    border: #fff solid 1px;
    display: grid;
    grid-template-columns: 20% 80%;
    align-items: initial;
    margin: auto;
}

.aboutme h2 {
    margin-top: 5px;
}

.aboutme #title {
    margin: 10px 5px;
    border-bottom: #b8c8d1 solid 2px;
}

.aboutme p {
    line-height: 1.5;
    letter-spacing: 1.8px;
    margin: 10px 0px;
}

.aboutme p span {
    font-weight: 600;
    color: #f8f8bf;
}

/* Skill Section */

.skills {
    width: 70%;
    border: #fff solid 1px;
    display: grid;
    grid-template-columns: 20% 80%;
    align-items: initial;
    margin: auto;
    padding: 10px 5px;
}

.technologies {
    display: grid;
    grid-auto-flow: column;
}

.skill-set .technologies li {
    list-style: none;
}


/* Projects Section */

#projects {
    height: 100%;
    margin: auto;
    background: url("/assets/images/firering.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 80px 50px;
}

#portfolio {
    /* border: #0684fa solid 1px; */
    width: 70%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.project {
    max-width: 100%;
    outline: none;
    border: #b8c8d1 solid 1px;
    border-radius: 4px;
    background: #1a1919;
}

.project img {
    width: 300px;
    max-width: 100%;
}

.project p,
.port-nav {
    padding: 10px;
}



/* Footer Section */
.footer {
    border: #ec2e2e solid 3px;
    color: black;
}